*{
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}


.test{
	display: none;
	color: red;
}

.error{
	border-color: red;
}

.neutro{
	border-color: #fff;
}

.ok{
	border-color: green;
}

.neutro:focus{
	border-color: #61B7CF;
}

.error:focus{
	border-color: red;
}

.ok:focus{
	border-color: green;
}

#Modal-Register-Comprador #comprador-modal #div1{
	width: 85%;
	margin-left: 5%;

}

#comprador-modal #div2{
	display: none;
}

body{
	background-color: #fff;
	padding: 0;
	margin: 0;
}

header{
	margin-bottom: -6px;
	background-image: url("../img/header.png");

}

.header-logo{
	height: auto;
	color: #fff;
	float: left;
	width: 45%;
}

.header-logo h1{
	margin-left: 5%;
}

.navbar-fixed-top{
	position: relative;
}


#login-register-mobile{
	width: 55%;
	padding-top: 6px;
	background-color: transparent;
	float: right;
}

#login-register-mobile ul{
	float: right;
	width: 30%;
	text-align: center;
	border-left: 1px outset #fff; 
}

#login-register-mobile li{
	display: block;
	float: left;
	width: 50%;
}

#login-register-mobile a{
	text-decoration: none;
	color: #fff;
	text-shadow: -6px 4px 3px #000;
	transition: color 0.5;
}

#login-register-mobile ul li:nth-child(3), #login-register-mobile ul li:nth-child(4){
		display: none;
	}

nav{
	width: 100%;
	height: 39px;
	display: inline-block;
	background-color: transparent;
}

.login-register{
	display: none;
}


.input-search-mobile{
	width: 71%;
	background-color:transparent;
	height: 38px;
	padding: 1px 2px 1px 8px;
	float: left;
	border-radius: 3px;
}

.nav-cart{
	width: 15%;
	height: 38px;
	float: left; 
	font-size: 1.2em;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	transition: color 0.8s;
	background-color: transparent;
}

.btn-search{
	display: none;
	transition: color 0.8s;
}

#input-nav-search{
	display: none;
	transition: color 0.8s;
	border-radius: 5px;
	border-style: inset; 
}

.btn-menu{
	font-size: 1.7em;
	background-color: transparent;
	width: 14%;
	height: 38px;
	float: right;
	text-align: center;
	padding-top: 4.5px;
	border: none;
	color: #fff;
	transition: color 0.8s;
}

.menu{
	width: 100%;
	height: 182px;
	padding: 1px 5px;
	display:none;
	margin-top: 38px;
	background-color: #fff;
}	

.menu ul{
	display: block;
	width: 100%;
}

.menu li{
	background-color:rgba(216,236,242,0.6);
	height: 35px;
	line-height: 30px;
	line-height: ;
	display: block;
	margin-bottom: 1px;
	padding-left: 15px;
	font-size: 1.2em;
	border:2px outset #fff;
	border-radius: 3px;
}

.menu a{
	text-decoration: none;
	color:#0A3145 ;
	transition: color 0.5s;
}

#divisor-menu{
	height: 15px;
	background-color: transparent;
	border: none;
}

.carousel-principal{
	width: 100%;	
}

.carousel-inner .item img{
		height: 300px;
		width: 100%;
}

.carousel-principal .carousel-control{
  	background-color:transparent;
  	border:none; 			
}

.carousel-principal :hover .carousel-control,
.carousel-principal .carousel-control:focus{
  		background-color:transparent;
  		border:none;	
}

#container-paineis_secundarios-footer{
	margin-top: 0;
}

.carousel-secundario{
	margin: 0  auto 10% auto;
	width: 90%;
}

.carousel-secundario h2{
	text-align: center;
	color: #0A3145;
}

.jcarousel-wrapper {
    position: relative;
    padding: 0 5%; 
}

.jcarousel{
	overflow-x: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 10px;
    float: left;
    margin-right: 5px;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

.carousel-control{
	width: 7%;
  	background-color:transparent;
  	filter: alpha(opacity=100);
  	opacity: 1;
}

.carousel-control.right, .carousel-control.left{
	background-image: none; 		
}

.jcarousel-control-next, .jcarousel-control-prev{
	height: 100%;
  	background-color: #0A3145;
  	opacity: 1;
}

.jcarousel-control-next:focus, .jcarousel-control-prev:focus{
	background-color: #0A3145;
	opacity: 1;
}


.painel-carousel{
	background-color: transparent;
	border:1px solid #000;
}

.painel-carousel div{
	text-align: center;
	height: 100px;
	padding:0;
	background-color: #fff;
}

.painel-carousel h3 a{
	text-decoration: none;
}

.painel-carousel h3{
	margin-top: 10px;
	color: #000;
	font-weight: bold;
	font-size: 1.8em;
}

::-webkit-input-placeholder{
	color:rgba(0,0,0,0.3);
}

:-ms-input-placeholder {  
   color:rgba(0,0,0,0.3);  
}

#Modal-login{
	padding-top: 8%;
}

.modal-content{
	border-radius: 0;
}

.modal-header{
	padding: 0;
	text-align: center;
	border-color: #000;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	background-image: url(../img/header.png);
	color: #fff;
}

.modal-header button{
	background-color: transparent;
	margin-right: 2px;
	border:none;
	height: 20px;
	width: 15px;
	float: right;
	font-size: 1.5em;
}

#Modal-login .modal-body{
	padding: 5% 20% 5% 20%;
}

#Modal-login .modal-body button{
	margin: 0 33.33% 0 33.33%;
	width: 33.33%;
	background-color: #0A3145 ;
	border-radius: 5px;
	height: 35px;
	color: #fff;
	
}

#Modal-login .modal-body input[type="text"],#Modal-login .modal-body input[type="password"]{
	width: 100%;
	border-radius: 5px;
	border:2px inset #fff;
	background-color: #F0F8FF;
}

#Modal-login .modal-body input[type="text"]:focus,#Modal-login .modal-body input[type="password"]:focus{
	border-color: #61B7CF;
	background-color: #fff;
	box-shadow: none;
}

#Modal-login .modal-body input[type="text"]{
	margin-bottom: 5px;
}


.modal-footer{
	box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.3);
}

#Modal-login .modal-footer{
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border:none;
	box-shadow: none;
}

#Modal-login .modal-btn-footer{
	width: 100%;
	display: inline-block;
	padding:0 20% 0 20%;
}

#Modal-login .modal-btn-footer button{
	background-color: #fff;
	color: #000;
	border:none;
}

#Modal-login .modal-btn-footer #btn1{
	float: left;
}

#Modal-login .modal-btn-footer #btn2{
	float: right;
}

#Modal-register{
	padding-top: 8%;
}

#Modal-register .modal-body{
	display: inline-block;
	padding: 3% 1% 3% 1%;
}

#Modal-register .modal-body button{
	width: 32%;
	word-wrap: break-word;
	float: left;
	display: block;
	margin-bottom: -6px;
	background-color: transparent;
	border-color: #000;
	border-width: 1px;
	border-radius: 5px;
}

#Modal-register .modal-body button:hover{
	box-shadow: 0 0 1px 1px #61B7CF;
	border-color: #61B7CF;
}

#Modal-register .modal-body #artista{
	margin-right: 2%;
	margin-left: 2%;
}

#Modal-register .modal-footer{
	word-wrap: break-word;
	text-align: center;
	background-color: #0A3145;
	color: #fff;
}


#Modal-Register-Comprador .modal-body{
	display: inline-block;
	width: 100%;
}

#Modal-Register-Comprador input, #Modal-Register-Artista input{
	border-radius: 5px;
	border-width:1px;
	border-style: inset; 
	background-color: #F0F8FF;
	height: 35px;
}

#Modal-Register-Comprador input:focus, #Modal-Register-Artista input:focus{
	background-color: #fff;
	box-shadow: none;
	border-width: 2px;
}

#Modal-Register-Comprador #div1{
	width: 55%;
	float: left;
	display: inline-block;
	padding-left: 20px;
	padding-right: 10px;
}

#Modal-Register-Comprador #div1 .left{
	width: 49%;
	float: left;
}

#Modal-Register-Comprador #div1 .right{
	float: right;
	width: 49%;
}

#Modal-Register-Comprador #div2{
	width: 40%;
	float: right;
}

#Modal-Register-Comprador #div2 .thumbnail{
	border-radius: 5px;
	height: 250px;
	display: block;
	width: 100%;
	margin-left: 0;
}

#Modal-Register-Comprador #div2 .thumbnail img{
	width: 100%;
	height: 100%;
}

#Modal-Register-Comprador #div2 input[type="file"]{
	height:90%;
	opacity:0;
	font-size: 1.7em;
	position: absolute;
	cursor: pointer;
	width: 60%;
	display: block;
}

#Modal-Register-Comprador #sobre{
	height: 250px;
}

#Modal-Register-Comprador #sobre textarea{
	height: 150px;
	margin:20px 0 0 15px;
	width: calc(100% - 30px);
	resize: none;
	border:1px inset #fff;
	border-radius: 5px;
	background-color: #F0F8FF;
}

#Modal-Register-Comprador #sobre textarea:focus{ 
	border:2px solid #61B7CF;
	color: #000;
	background-color: #fff;
	box-shadow: none;
}

#Modal-Register-Comprador .modal-footer, #Modal-Register-Artista .modal-footer{
	width: 100%;
	padding: 15px 30% 15px 30%;
	background-color: #0A3145;
	box-shadow: none;
}

.btn-modal-footer{
	background-color: #0A3145;
	height: 30px;
	width: 100%;
	border-color: #fff;
	color: #fff;
	border-radius: 5px;
	border-width:1px;
}

.btn-modal-footer:hover{
	border-color: #61B7CF;
}

#Modal-Register-Artista .modal-body{
	padding: 8% 5% 10% 5%;
}

#Modal-Register-Artista img{
	width: 100%;
	height: 150px;
	float: none;
}

#Modal-Register-Artista .img-obra-principal{
	margin-top: 20px;
}

#Modal-Register-Artista #inpt-img-obra{
	opacity:0;
	position:absolute;
	display: block;
	margin-top: 10px;
	height: 97%;
	width: 95%;
	cursor: pointer;
}

#Modal-Register-Artista #inpt-img-obra1, #inpt-img-obra2, #inpt-img-obra3, #inpt-img-obra4{
	opacity:0;
	position:absolute;
	display: block;
	width: 83%;
	height: 80%;
	cursor: pointer;
}

#Modal-Register-Artista textarea{
	width: 100%;
	height: 150px;
	background-color: #F0F8FF;
	border:1px inset #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	resize: none;
}

#Modal-Register-Artista textarea:focus{ 
	border:2px inset #61B7CF;
	color: #000;
	background-color: #fff;
	box-shadow: none;
}

#Modal-Register-Artista .input-group{
	width: 100%;
	margin-bottom: 20px;
	margin-left: 0.3%;
}


#Modal-Register-Artista input[type="checkbox"]{
	border: none;
	margin-right: 3px;
	margin-bottom:0;
	padding: 0 ;
	width: auto;
	height: auto;
	box-shadow: none;
	float: left;
}

footer{
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.8);
	margin:0;
	padding: 7px;
	color: #61B7CF;
}

#titulo-footer img{
	display: none;
}

#footer h3{
	color: #fff;
}

#redes-sociais, #contatos{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

}

#footer #redes-sociais ul{
	width: 50%
	margin-left:25%;
	padding-left: 35%;
}

#redes-sociais li{
	list-style: none;
	font-size: 2em;
	float: left;
	width: 15%;
}

#contatos li{
	font-size: 1.2em;
	list-style: none;
	margin-bottom: 5px;
}

#footer #Copyright{
	float: left;
	width: 100%;
	font-size: 1em;
	text-align: center;
}

footer #facebook{
	color: #3b5998;
	text-shadow: -3px 4px 3px #000;
}

footer #youtube {
	color: #8B0000;
	text-shadow: -3px 4px 3px #000;
}

footer #twitter {
	color: #80BFFF;
	text-shadow: -3px 4px 3px #000;
}

.popover {
position: fixed;
  color: #fff;
  background-color: #CD5C5C;
  font-size: 13px;
  word-wrap: break-word;
}

.popover.right > .arrow:after {
	border-right-color: #CD5C5C;
}

@media screen and (max-width: 320px) {


	.header-logo{
		width:100%;
	}

	#login-register-mobile{
		width: 100%;
	}

	.carousel-principal{
		width: 100%;
	}

	.painel-carousel button{
		height: 30%;
		width: 30%;
	}

	#login-register-mobile ul{
		width: 100%;
		border-style: none;
	}

	.header-logo h1{
		text-align: center;
	}

	#footer #redes-sociais ul{
	padding-left: 30%;
}
#footer #redes-sociais ul li{
	width: 20%;
}

}

@media screen and (min-width: 320px) {
	#login-register-mobile{
		width: 40%;
	}

		#login-register-mobile ul{
		width: 100%;
	}
	.header-logo{
		width:calc(100% - 40%);
	}
		
}


@media screen and (min-width: 400px) {

	#Modal-Register-Comprador .modal-footer, #Modal-Register-Artista .modal-footer{
	
	padding: 15px 40% 15px 40%;
	
}


	#footer{
		display: inline-block;
		width: 100%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		float: left;
		color: #fff;
	}

	#redes-sociais, #contatos{
		text-align:left;
	}

	footer #contatos{
		margin:0;
		width: auto;
	}

	#footer h3{
		margin-bottom: 40px;
		border-bottom: 1px solid #fff;
	}

	#footer #redes-sociais{
		margin: 0;
		width: auto;
		float: right;
	}

	#footer #redes-sociais ul{
		margin-left: 0;
	}

	#footer li:hover{
		color:#61B7CF;
	}

	#footer #redes-sociais li{
		list-style: none;
		font-size: 2.5em;
		float: left;
		margin-right: 10px;
		width: auto;
	}

	#footer #redes-sociais ul{
		display: inline-block;
		width: auto;
		margin: 0;
		padding: 0;
	}

	#contatos li{
		font-size: 1.2em;
		list-style: none;
		margin-bottom: 5px;
		color: #61B7CF;
	}

	#footer #Copyright{
		width: 100%;
		margin-top: 6%;
		text-align: center;
		font-size: 1.2em;
	}

	#footer div{
		float: left;
	}

	#titulo-footer img{
		margin-top: 10%;
		width: 300px;
		display: none;
	}

	footer{
		height: auto;
	}

}

@media screen and (max-width: 400px) {
	#Modal-Register-Comprador #div1{
		width: 95%;
	}
	#Modal-Register-Comprador #div1 #nome-comp {
		margin-top: 255px;
	}

	#Modal-Register-Comprador #div2{
		width: 80%;
	}

	#Modal-Register-Comprador #div2 .col-lg-12{
		margin-top: -670px;
		margin-left: -30px;
		margin-right: 15%;
	}

	#Modal-Register-Artista .modal-body{
		padding-right: 25px;
		padding-left: 25px;
	}

}

@media screen and (max-width: 550px) {
	#Modal-Register-Comprador #div2 .thumbnail{
	height: 200px;
}
}

@media screen and (min-width: 600px){


	#Modal-Register-Artista #img-obra-register{
		height: 420px;
	}

	#Modal-Register-Artista img{
	
		height:100px ;
	}

	#Modal-Register-Artista .thumbnail{
		box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.5);
	}

}

@media screen and (min-width: 768px) {

	.login-register ul li:nth-child(3), .login-register ul li:nth-child(4){
		display: none;
	}


	header{
		position: fixed;
		height: 100px;
		z-index: 100;
		width: 100%;
		box-shadow: 1px 5px 5px 5px #000;
	}
		
	.header-logo{
		height: 60px;
		color: #fff;
		float: left;
		width: 25%;
		padding-left: 5%;
		padding-top: 2%;
	}

	.header-logo h1{
		margin: 0;
	}

	.navbar-fixed-top{
		position: fixed;
	}

	.login-register{
		display: inline;
		float: right;
		width: 18%;
	}

	.login-register li{
		background-color: transparent;
		height: 38px;
		line-height: 38px;
		display: block;
		margin-bottom: 1px;
		font-size: 1.2em;
		float:right;
		width: 50%;
		text-align: center;
		cursor: pointer;
	}

	.login-register a{
		text-decoration: none;
		color: #fff;
		text-shadow: -6px 4px 3px #000;
		transition: color 0.8s;
	}

	.login-register li:hover a{
		color: #61B7CF;
	}

	.input-search-mobile{
		display: none;
	}

	.nav-cart{
		width: 6%;
		float: right;
		transition: color 0.8s;
		border:none;
		text-shadow: -6px 4px 3px #000;
		background-color: transparent;
	}

	.nav-cart:hover{
		color: #61B7CF;
	}

	.nav-search{
	
		width: 29.9%;
		height: 38px;
		float: right; 
		margin-right: 0.1%;
		padding-top: 2px;
		background-color: transparent;
	}

	.btn-search{
		display: block;
		background-color: transparent;
		width: 15%;
		height: 35px;
		float:right;
		font-size: 1.2em;
		text-align: center;
		border:none;
		border-radius: 2px;
    	color: #fff;
    	text-shadow: -6px 4px 3px #000;
    	transition-property: color;
    	transition-duration: 0.8s;
	}

	.btn-search:hover{
		color: #61B7CF;
		border:1px solid #61B7CF;
	}

	#input-nav-search{
		border:1px inset transparent;
		border-radius: 3px;
		display: block;
		float: right;
		width: 85%;
		height: 20px;
		padding: 0;
		position: relative;
	}

	.btn-menu{
		display: none;
	}

	.menu{
		display:inline;
		border:none;
		width: 46%;
		padding: 0;
		margin: 0;
		background-color: transparent;
	}

	.menu ul{
		margin-top: -10%;
		width: 100%;
		margin: 0;
		background-color: transparent;
	}

	.menu li{
		text-align: center;
		float: left;
		padding: 0;
		border: none;
		height: 38px;
		line-height: 38px;
		width: 9.2%;
		cursor: pointer;
		background-color:transparent;
	}

	.menu li a{
		color: #fff;
		text-shadow: -6px 4px 3px #000;
	}

	.menu li:hover a{
		color: #61B7CF;
	}

	.menu #divisor-menu{
		display: none;
	}

	#login-register-mobile{
		display: none;
	}


	.carousel-inner .item img{
		height: auto;
		width: 100%;
	}

	.carousel-principal{
		width: 100%;
		margin-top: 100px;
		z-index: 1;
	}

	#container-paineis_secundarios-footer{
		padding-top: 150px;
	}

	.carousel-secundario h2{
		margin-left: 70px;
		font-size: 3em;
		text-align: left;
	}

	.carousel-principal .carousel-control span{
  		font-size: 2em;		
	}

	.jcarousel-wrapper:hover .carousel-control, 
	.carousel-control-prev:focus, carousel-control-next:focus{
  		opacity: 1;
	}


	#Modal-Register-Comprador #div2 .thumbnail{
	height: 300px;
	width: 100%;
	margin-left: 0;
}



	footer{
		position: absolute; 
	}

	#footer{
		display: inline-block;
		width: 100%;
		margin-top: 10%;
		padding-left: 10%;
		float: left;
		color: #fff;
	}

	footer #contatos{
		margin-left: 20%;
		width: 28%;
	}

	#footer h3{
		margin-bottom: 40px;
		border-bottom: 1px solid #fff;
	}

	#footer #redes-sociais{
		margin-left: 20%;
		width: 28%;
		float: left;
	}

	#footer li:hover{
		color:#61B7CF;
	}

	#redes-sociais li{
		list-style: none;
		font-size: 2.5em;
		float: left;
		margin-right: 10px;
	}

	#redes-sociais ul{
		display: inline-block;
	}

	#contatos li{
		font-size: 1.2em;
		list-style: none;
		margin-bottom: 5px;
	}

	#footer #Copyright{
		width: 100%;
		margin-top: 5%;
		font-size: 1.2em;
	}

	#footer div{
		float: left;
	}

	#titulo-footer img{
		margin-top: 10%;
		width: 300px;
		display: block;
	}

	footer #facebook{
		color: #3b5998;
	}

	footer #youtube {
		color: #8B0000;
	}

	footer #twitter {
		color: #80BFFF;
	}

	#footer .fa{
		text-shadow: 0px 0px 0px #000;
		transition: text-shadow 0.5s;
	}

	#footer .fa:hover{
		text-shadow: -3px 4px 3px #000;
	}

	#Modal-Register-Artista #group-altura{
	margin-left:15px;
}

}


@media screen and (min-width: 852px) {
	.carousel-control{
			width: 5%;
	}

}

@media screen and (min-width: 992px) {
		#Modal-Register-Comprador #div2 .thumbnail{
	height: 300px;
	width: 70%;
	margin-left: 15%;
}
}

@media screen and (min-width: 1019px) {

	#footer #contatos{
		width: auto;
		margin-left: 15%
	}

	#footer #redes-sociais{
		margin-left: 10%;
		width: auto;
	}

	#footer #Copyright{
		margin-top: 15%;
	}

	#titulo-footer img{
		margin-top: 3%;
	}
}


@media screen and (min-width: 1087px) {
	nav{
		width: 800px;
		margin-right: 15px;
		margin-top: 25px;
		float: right;
	}
		#Modal-Register-Artista #group-altura{
	margin-left:0;
}

}